name: Copy images from dockerhub to ghcr

on:
  push:
    branches:
      - main

jobs:

  docker:

    permissions:
      packages: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        IMAGE: ["postgres:15" "jboss/keycloak:latest"]

    steps:
      - name: skopeo-copy-action
        uses: coscene-io/skopeo-copy-action@v1.0.0
        with:
          src-image: docker.io/${{ matrix.IMAGE }}
          src-creds: ${{ secrets.DOCKER_USERNAME}}:${{ secrets.DOCKER_PASSWORD }}
          dst-image: ghcr.io/${{ github.repository_owner }}/${{ matrix.IMAGE }}
          dst-creds: ${{ github.repository_owner }}:${{ github.token }}
