name: Copy images from dockerhub to ghcr

on:
  push:
    branches:
      - main

jobs:

  docker:

    permissions:
      packages: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        IMAGE: [postgres:15]

    steps:
      - name: skopeo-copy-action
        uses: coscene-io/skopeo-copy-action@v1.0.0
        src-image: docker.io/${{ matrix.IMAGE }}
        src-creds: ${{ DOCKER_USERNAME}}:${{ DOCKER_PASSWORD }}
        dst-image: ghcr.io/${{ github.repository_owner }}/${{ matrix.IMAGE }}
        dst-creds: ${{ github.repository_owner }}:${{ github.token }}
